# -------------------------------------
# Terraform
# -------------------------------------

# Local .terraform directories
**/.terraform/*
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan
*.plan

# Terraform lock info (optional – usually commit this)
# Uncomment if you DON'T want to commit lock file
# .terraform.lock.hcl

# Variable files (often contain secrets)
# *.tfvars
*.tfvars.json

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform CLI config
.terraformrc
terraform.rc

# -------------------------------------
# Environment & Secrets
# -------------------------------------
.env
.env.*

# -------------------------------------
# OS / Editor
# -------------------------------------
.DS_Store
Thumbs.db

# Vim / Neovim
*.swp
*.swo
*.swn
*.bak
*.tmp
.netrwhist

# VS Code
.vscode/

# JetBrains IDEs
.idea/

# -------------------------------------
# Logs
# -------------------------------------
*.log
